<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolver Puzzle</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Resolver Puzzle Lineal</h1>
    <form method="POST">
        <label for="estado_inicial">Estado Inicial:</label>
        <input type="text" id="estado_inicial" name="estado_inicial" placeholder="Ej: 4,3,2,1" required>
        <label for="estado_final">Estado Final:</label>
        <input type="text" id="estado_final" name="estado_final" placeholder="Ej: 1,2,3,4" required>
        <label for="metodo">Seleccione el Algoritmo:</label>
        <select id="metodo" name="metodo" required>
            <option value="DFS_Rec">DFS Recursivo</option>
            <option value="BFS">Búsqueda en Amplitud</option>
            <option value="DFS">DFS</option>
        </select>
        <button type="submit">Resolver</button>
    </form>
    {% if resultado %}
    <div>
        <h2>Resultado:</h2>
        <pre>{{ resultado }}</pre>
    </div>
    {% endif %}
</body>
</html>
